<div class="form">
  <form [formGroup]="myForm" (ngSubmit)='onSubmit()'>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-2 control-label">Code</label>
          <div class="col-sm-10">
            <input type="text" class="form-control input-sm" name="code" placeholder="Enter Code" formControlName="code">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control input-sm" name="name" placeholder="Enter Name" formControlName="name">
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-2 control-label">Hours</label>
          <div class="col-sm-10">
            <input type="number" class="form-control input-sm" name="hours" placeholder="Enter number of hours" formControlName="hours">
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-6">
        <label class="col-sm-2 control-label">instructor</label>
        <mat-form-field class="col-sm-10">
          <mat-select placeholder="instructors" formControlName="instructors" multiple>
            <mat-option *ngFor="let i of instructors" [value]="i.name">{{i.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
          <label class="col-sm-2 control-label">students</label>
          <mat-form-field class="col-sm-10">
            <mat-select placeholder="students" formControlName="students" multiple>
              <mat-option *ngFor="let s of students" [value]="s.name">{{s.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>
    <div class="row">
      <input type="submit" class="btn btn-primary pull-right" value="Add" />
    </div>
  </form>
</div>